@page "/"
@inject IAppService AppService

<PageTitle>Overview</PageTitle>

<h1>Overview</h1>

<h2>I specialize in:</h2>

<ul>
    <li class="fade-in-item">Object-Oriented Programming</li>
    <li class="fade-in-item">Web Development</li>
    <li class="fade-in-item">Database Applications</li>
</ul>